/* 自定义音频播放器样式 */
#audio-container {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 8px;
    background-color: #fafafa;
  }
  
  #audio-container button:hover {
    background-color: #1565c0;
  }
  